          <div class="span10 offset1">
                <p>Below you will find a list of all current seismic events we have records for (also available as <a href="<%= url('/events.json') %>">JSON</a>).</p>
                <% if @events %>
                        <% @events.each do |event| %>
                                ID: <%= link(url('/event/' + event.event_id), event.event_id) %> MAG: <%= event.mag %> DEPTH: <%= event.depth %> (<%= link('http://earthquake.usgs.gov' + event.url, 'USGS Info Page') %>)<br>
                        <% end %>
                <% end %>
          </div>